dist/
build/
.settings
.amateras
.project
.pydevproject
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.runtime.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.wst.validation.prefs
*.bat
*.sh
.coverage
.hgchurn
*.pyc
*.pyo
*.db
*.sqlite
virtualenv*

django_email_manager.egg-info